{% extends "base.html.twig" %}

{% block title %}Détails des produits{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Détails de {{product.name}}</h1>
            </div>
            <div class="col-6">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        {% for image in product.images %}
                            <div class="carousel-item {{(loop.first ? 'active' :'')}}">
                                <img class="d-block w-100" src="..." alt="{{product.description}}">
                            </div>
                        
                        {% endfor %}
                        
                    </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                </div>
            </div>
            <div class="col-6">
                <p>{{product.description}}</p>
                <p>Catégorie : {{product.categories.name}}</p>
                <p>Prix :{{product.price / 100}}€</p>
                {% if product.stock > 0 %}
                    <a href="#" class="btn btn-success">Ajouter au panier</a>
                {% else %}
                    <p class="text-danger">En rupture de stock</p>
                {% endif %}
            </div>
        </section>
    </main>
    
{% endblock %}    
